In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [8]:
# read in cleaned datasets

train = pd.read_csv('./datasets/modified_train.csv')
test = pd.read_csv('./datasets/modified_test.csv')

**Prediction With the Baseline Model**

In [9]:
train.columns

Index(['Id', 'PID', 'Lot Frontage', 'Lot Area', 'Overall Qual', 'Overall Cond',
       'Year Built', 'Year Remod/Add', 'Mas Vnr Area', 'BsmtFin SF 1',
       ...
       'Has Enclosed Porch', 'Has Wood Deck', 'Has 3S Porch',
       'Has Screened Porch', 'Has Pool', 'Total SF', 'Yr Sold_2007',
       'Yr Sold_2008', 'Yr Sold_2009', 'Yr Sold_2010'],
      dtype='object', length=361)

In [10]:
# create features

features = ['Overall Qual', 
            'Total SF', 
            'Garage Area', 
            'Garage Cars_3.0', 
            '1st Flr SF', 'Year Built', 
            'Year Remod/Add', 
            'Foundation_PConc', 
            'Mas Vnr Area', 
            'Full Bath_1', 
            'Kitchen Qual_TA', 
            'Exter Qual_TA']

X = train[features]

y = train['SalePrice']

In [11]:
# X_train, y_train

X_train = train[features]
y_train = train['SalePrice']

In [12]:
# X_test

X_test = test[features]

In [13]:
# instantiate linear regression model

lr_model = LinearRegression()

In [14]:
# fit X and y to model

lr_model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [15]:
# generate predictions for test

y_test_preds = lr_model.predict(X_test)

In [16]:
# create submission column

test['SalePrice'] = y_test_preds

In [17]:
test.head()

,Id,PID,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,...,Has Wood Deck,Has 3S Porch,Has Screened Porch,Has Pool,Total SF,Yr Sold_2007,Yr Sold_2008,Yr Sold_2009,Yr Sold_2010,SalePrice
0,2658,902301120,69.0,9142,6,8,1910,1950,0.0,0,...,0,0,0,0,1928,0,0,0,0,147283.297662
1,2718,905108090,68.0,9662,5,4,1977,1977,0.0,0,...,1,0,0,0,1967,0,0,0,0,159801.194550
2,2414,528218130,58.0,17104,7,5,2006,2006,0.0,554,...,1,0,0,0,2050,0,0,0,0,201114.627303
3,1989,902207150,60.0,8520,5,6,1923,2006,0.0,0,...,0,0,0,0,968,1,0,0,0,119676.439174
4,625,535105100,68.0,9500,6,5,1963,1963,247.0,609,...,0,0,1,0,2003,0,0,1,0,168327.868450

In [18]:
submission4 = test[['Id', 'SalePrice']]

In [19]:
submission4.to_csv('./datasets/submission4.csv', index=None)

In [20]:
pd.read_csv('./datasets/submission4.csv')

       Id      SalePrice
0    2658  147283.297662
1    2718  159801.194550
2    2414  201114.627303
3    1989  119676.439174
4     625  168327.868450
..    ...            ...
873  1662  188841.483935
874  1234  206510.970397
875  1373  137149.306985
876  1672  109125.431631
877  1939  121345.358458

[878 rows x 2 columns]